* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

.row {
  display: flex;
  height: 120px;
}

.column {
  flex: 50%;
  padding: 5px;
}

#sylvana {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

#tangy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.pel {
  height: 100%;
}
